Debug
GameProject.ico
GameProject.rc
GameProject.sln
GameProject.vcxproj
GameProject.vcxproj.filters
GameProject.vcxproj.user
small.ico
.vs/GameProject/v16/ipch/AutoPCH/dd51c2381013ef37/WINDOW.ipch
.vs/GameProject/v16/ipch/AutoPCH/57141ea39fbf5864/WINDOW.ipch
.vs/GameProject/v16/ipch/AutoPCH/208a32e1107acd60/GAMEPROJECT.ipch
.vs/GameProject/v16/Browse.VC.db
.vs/GameProject/v16/.suo
